/* This is Google's "Cyan" colour palette */
$colour-50:  #e0f7fa;
$colour-100: #b2ebf2;
$colour-200: #80deea;
$colour-300: #4dd0e1;
$colour-400: #26c6da;
$colour-500: #00bcd4;
$colour-600: #00acc1;
$colour-700: #0097a7;
$colour-800: #00838f;
$colour-900: #006064;

$colour-error: #f44336;
$colour-warning: #fb8c00;

/* Google's standard dark-on-light contrasts... */
$text-dol: #0a0a0a; /* 87% */
$secondary-text-dol: #757575; /* 54% */
$hint-text-dol: #a0a0a0; /* 37% */
$dividers-dol: #e0e0e0; /* 12% */
/* ... and light-on-dark */
$text-lod: #ffffff;
$secondary-text-lod: #b2b2b2; /* 0.7% */
$hint-text-lod: #4c4c4c; /* 0.3% */
$dividers-lod: #1e1e1e; /* 0.12% */

$dialog-colour: #fafafa;

/* text fields, labelled controls... */
$inactive-border: $dividers-dol;
$inactive-label: $hint-text-dol;
$active-border: $colour-500;

/* buttons */
$button-flat-hover: #e6e6e6; /* 20% + $dialog-colour */
$button-flat-active: #d3d3d3; /* 40% + $dialog-colour */
$button-colour-base: $colour-500;
$button-colour-hover: $colour-600;
$button-colour-active: $colour-700;
$button-lightcolour-hover: $colour-50;
$button-lightcolour-active: $colour-100;

$shadow-1-z: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$shadow-2-z: 0 3px 8px 0 rgba(0, 0, 0, 0.4);

$focus-time: 0.15s;

body {
  background: white;
}

%paperElement {
  font-size: 16px;
  line-height: 16px;
}

.paperDialog {
  @extend %paperElement;
  padding: 24px;
  background: $dialog-colour;
  box-shadow: $shadow-1-z;
}

.paperModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, 0.4);
}

.paperStatus {
  display: inline-block;
  height: 16px;
  padding: 10px 0;
}

.paperParagraph {
  font-size: 15px;
  margin: 8px 0;
}

.paperCheckbox {
  margin: 16px 0;
  display: block;
}

.paperButton {
  box-sizing: content-box;
  border-radius: 3px;
  height: 36px;
  padding: 0 8px;
  margin: 0 0 0 8px;
  min-width: 70px;
  font-size: 14px;
  outline: 0;
  border: none;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.paperRaised {
  box-shadow: $shadow-1-z;
}
.paperRaised:active, .paperRaised:focus {
  box-shadow: $shadow-2-z;
}

/* Flat, non-default buttons */
.paperButton {
  background: $dialog-colour;
  color: black;
}
.paperButton:hover, .paperButton:focus {
  background: $button-flat-hover;
}
.paperButton:active {
  background: $button-flat-active;
}

/* Flat, default buttons */
.paperButton.paperDefault {
  color: $button-colour-base;
}
.paperButton.paperDefault:hover, .paperButton.paperDefault:focus {
  background: $button-lightcolour-hover;
}
.paperButton.paperDefault:active {
  background: $button-lightcolour-active;
}

/* Raised, non-default buttons */
.paperButton.paperRaised {
}
.paperButton.paperRaised:hover, .paperButton.paperRaised:focus {
}
.paperButton.paperRaised:active {
}

/* Raised, default buttons */
.paperButton.paperRaised.paperDefault {
  color: white;
  background: $button-colour-base;
}
.paperButton.paperRaised.paperDefault:hover,
.paperButton.paperRaised.paperDefault:focus {
  background: $button-colour-hover;
}
.paperButton.paperRaised.paperDefault:active {
  background: $button-colour-active;
}

.paperDialogHeader {
  margin: -24px -24px 24px -24px;
  padding: 24px;
  line-height: 24px;
  font-size: 18px;
}

.paperDialogError {
  background: $colour-error;
}
.paperDialogWarning {
  background: $colour-warning;
}

.paperDialogFooter {
  padding: ((48px-36)/2) 0;
  height: 36px;
  margin: 16px 0 -8px;
  text-align: right;
  /* Paper has the buttons sticking out into the right margin a bit but I find
   * this ugly... */
  /* margin-right: 16px - 24; */
}

.paperMenu {
  @extend %paperElement;
  padding: 8px 16px;
  box-shadow: $shadow-1-z;
  z-index: 1;
  background: white;
  display: none;
}

.paperItem {
  height: 16px;
  padding: 16px 8px;
  margin: 0 -8px;
}

.paperHeaderItem {
  font-style: italic;
}

.paperActive {
  background: $button-flat-active;
}

%paperTextFieldBase {
  @extend %paperElement;
  display: block;
  position: relative;
  border-bottom: 1px solid $inactive-border;
  height: 64px;
  padding-top: 32px;
  margin-bottom: 8px;
  box-sizing: border-box;
  transition: border-color $focus-time;
}

%paperTextFieldBase.paperFocus {
  border-bottom: 2px solid $active-border;
}

%paperTextFieldLabel {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 12px;
  line-height: 1em;
  color: $inactive-label;
  transition: all $focus-time;
}

%paperTextFieldLabel.paperPlaceholder {
  top: 40px;
  font-size: 16px;
}

.paperFocus > %paperTextFieldLabel {
  color: $colour-600;
}

%paperTextFieldBox {
  padding: 0;
  margin: 0;
  border: none;
  height: 32px;
  outline: none;
  padding: 8px 32px 8px 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

%paperTextFieldExpander {
  position: absolute;
  right: 0;
  bottom: 4px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.paperTextfield {
  @extend %paperTextFieldBase;
}

.paperTextfield > span {
  @extend %paperTextFieldLabel;
}

.paperTextfield > input {
  @extend %paperTextFieldBox;
  background: none;
}

.paperOmnibox {
  @extend %paperTextFieldBase;
}

.paperOmnibox > span {
  @extend %paperTextFieldLabel;
}

.paperOmnibox > input {
  @extend %paperTextFieldBox;
  background: none;
}

.paperOmnibox > .paperExpander {
  @extend %paperTextFieldExpander;
}

.paperOmnibox > .paperMenu {
  position: absolute;
  width: 100%;
  top: 72px;
  left: -16px;
}

.paperOmnibox > div > .paperItem {
  /* Sorry Google, this isn't what you want me to do, and really, I sympathise
   * for the poor touchscreen users, but your spacing is just not dense enough
   * for our omnibox to work. */
  padding-top: 8px;
  padding-bottom: 8px;
}

.paperCombo {
  @extend %paperTextFieldBase;
}

.paperCombo > span {
  @extend %paperTextFieldLabel;
}

.paperCombo > .paperComboValue {
  @extend %paperTextFieldBox;
  cursor: pointer;
}

.paperCombo > .paperExpander {
  @extend %paperTextFieldExpander;
}

.paperCombo > .paperMenu {
  position: absolute;
  width: 100%;
  top: 16px;
  left: -16px;
}

